body {
    font-size: 12px;
    line-height: 1.5;
}

div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#roads,
#players,
#cards {
    margin: 10px 0;
    padding: 10px;
    background-color: #eeeeee;
}


.thumbImg {
    width: 40px;
    height: 40px;
}

#roads div.road {
    float: left;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #dddddd;
}

#players div.player {
    float: left;
    margin: 4px;
    border: 1px solid #666666;
    background-color: #dddddd;
}

#cards div.card {
    float: left;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #eeeeee;
}


#card {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 20px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #666666;
    background-color: #eeeeee;
}


#count {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 600px;
    margin-top: -300px;
    margin-left: -300px;
    text-align: center;
    line-height: 600px;
    font-weight: bold;
}

