<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.appengine.hackathonjp" android:versionCode="1"
	android:versionName="1.0.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".GestureDetector" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
		</activity>
<!-- 		<activity
			android:name=".gesturedetector.service.TestGestureListenerActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
		</activity> -->
		<service android:enabled="true"
			android:name=".gesturedetector.service.GestureDetectorService">
			<intent-filter>
				<action
					android:name="com.appengine.hackathonjp.gesturedetector.service.IGestureDetectorService"></action>
			</intent-filter>
		</service>
	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 