<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//JP" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
    	<title>Footprints</title>

		<meta http-equiv="Content-type" content="text/html; charset=Shift-JIS">

    	<link href="/static/style.css" rel="stylesheet" type="text/css">

	    <script src="<your_Maps_Key"
	    type="text/javascript"></script>
	    <script type="text/javascript">
	    //<![CDATA[
	    function load() {
	        if (GBrowserIsCompatible()) {
	            var map = new GMap2(document.getElementById("map"));
	            {% if marker_list %}
	            {% for marker in marker_list %}
	            {% if forloop.first %}
	            map.setCenter(new GLatLng({{ marker.ido }}, {{ marker.keido }}), 13);
	            {% endif %}
	            var point = new GLatLng({{ marker.ido }}, {{ marker.keido }});
	            map.addOverlay(new GMarker(point));
	            {% endfor %}
	            {% endif %}
	        }
	    }
	    //]]>
	    </script>

	</head>
	
<body onload="load()" onunload="GUnload()">

<div id="container">

<div id="content">

<div id="content_header"></div>

<div id="content_main">
<table class="content_table">
<tr>
<td class="td_map" colspan="3"><div id="map" style="width: 700px; height: 300px"></div></td>
<tr>
<td class="td_icon_01"><img src="/static/images/td_icon_01.png"></td>
<td class="td_description"><span class="title">Upload your photo</span><br><span class="context">Supported file formats - .jpg .png .gif .bmp</span></td>
<td class="td_form"><form enctype="multipart/form-data" method="POST" action="/post"><input type="file" name="image" /></td>
</tr>
<tr><td class="td_button" colspan="3"><input type="image" src="/static/images/upload.png" alt="Submit"></form></td></tr>
<tr><td class="td_text" colspan="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar enim vitae dui. Maecenas elementum est non ante. Fusce felis. Nam auctor. Proin lectus justo, viverra nec, vestibulum id, hendrerit ac, arcu. Nam ligula urna, accumsan ut, mattis eu, dapibus eu, justo. Suspendisse cursus orci. Vivamus hendrerit elementum metus. Etiam ultrices. Donec arcu. Quisque egestas bibendum nibh.</td></tr>
</table>
</div>

<div id="content_footer"></div>
</div>

<div id="footer">GAE Hack-a-thon Disk3 + designed by miwaza</div>

</div>

</body>
