body {
    font-size: 12px;
    line-height: 1.5;
}

div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#roads,
#players,
#cards {
    margin: 10px 0;
    padding: 10px;
    background-color: #eeeeee;
}


.thumbImg {
    width: 40px;
    height: 40px;
}

#roads div.road {
    float: left;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #dddddd;
}

#players div.player {
    float: left;
    margin: 4px;
    border: 1px solid #666666;
    background-color: #dddddd;
}

#cards div.card {
    float: left;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #eeeeee;
}


#card {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 40px;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #999999;
    background-color: #7cc559;
}


#count {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 600px;
    margin-top: -300px;
    margin-left: -300px;
    text-align: center;
    line-height: 600px;
    font-weight: bold;
}


a {
    text-decoration: none;
}


a .button {
    margin: 0 8px;
    padding: 8px;
    width: 200px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    background-color: #f0f0f0;
    border: 2px solid #303030;
    color: #303030;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

a:hover .button {
    background-color: #fde0a6;
    border: 2px solid #ff8800;
    color: #ff8800;
}
