#main{
	background-image:url("./images/back.jpg");
	background-repeat:no-repeat;
	width:800px;
	height:300px;
	padding:30px;
	color:#ffffff;
}

#photo{
	margin:20px;
	width:130px;
	height:160px;
	background:#ffffff;
	float:left;
}

h1{
	font-size:20px;
}

ul{
	font-size:20px;
	float:left;
	border: medium solid #ffffff;
	margin-left:15px;
	padding:20px;
}

a {
	color:#FFFFFF;
}

a:link { 
	color: white; 
}
a:visited { 
	color: white; 
}
a:hover { 
	color: black;
	background:white;
}
a:active {
	color: yellow;
}