.main{
	background-image:url("./images/back.jpg");
	background-repeat:no-repeat;
	width:800px;
	height:300px;
	padding:30px;
	color:#ffffff;
}

#photo{
	margin:20px;
	width:64px;
	height:48px;
	background:#ffffff;
	float:left;
}

.main h1{
	font-size:20px;
}	

.main ul{
	font-size:20px;
	float:left;
	border: medium solid #ffffff;
	margin-left:15px;
	padding:20px;
}

.main a {
	color:#FFFFFF;
}

.main a:link { 
	color: white; 
}
.main a:visited { 
	color: white; 
}
.main a:hover { 
	color: black;
	background:white;
}
.main a:active {
	color: yellow;
}

.members{
	width:800px;
	height:100%;
	padding:30px;
	color:#333333;
	white-space: nowrap;
	background:#CCCCCC;
}

.members h1{
	font-size:15px;
}

.friendsPhoto{
	width:64px;
	height:48px;
	background:#cccccc;
	margin:3px;
	float:left;
}

div.members ul{
	clear:both;
	


}

li.member{
	overflow:hidden;
	float:left;
	white-space: nowrap;
	width:200;
	height:200;
	list-style:none;
	border: medium dashed #CCCCCC;
	margin:15px;
	background:#ffffff;
}



