h1 {
	width:600px;
	margin: 20px auto;
}
div.startup, div.loading {
	width:600px;
	margin: 10px auto;
}

div.startup input {
	margin-bottom:20px;
	font-size:3em;
}

div#twitterResult,
div#youtubeResult {
	width:590px;
}

div.result {
	width:610px;
	height:400px;
	float:left;
	overflow:hidden;
}


