.main{
	background-image:url("./images/back.jpg");
	background-repeat:no-repeat;
	width:800px;
	height:300px;
	padding:30px;
	color:#ffffff;
}

#photo{
	margin:20px;
	width:64px;
	height:48px;
	background:#ffffff;
	float:left;
}

.main h1{
	font-size:20px;
}

.main ul{
	font-size:20px;
	float:left;
	border: medium solid #ffffff;
	margin-left:15px;
	padding:20px;
}

.main a {
	color:#FFFFFF;
}

.main a:link { 
	color: white; 
}
.main a:visited { 
	color: white; 
}
.main a:hover { 
	color: black;
	background:white;
}
.main a:active {
	color: yellow;
}

.members{
	background-image:url("./images/hensei.jpg");
	background-repeat:no-repeat;
	width:800px;
	height:320px;
	padding:30px;
	color:#333333;
}

.members li{
	float:left;
	width:200;
	height:320;
}

.members li{
	float:left;
	width:200;
	height:300;
}


