html, body {
    height: 100%;
	margin: 0px;
	padding: 0px;
	background:url("http://hackathon-jp.googlecode.com/svn/trunk/OpenSocial20090221/Feed/img/body-green.gif");

}
a img {
    border-style:none;
}
div.movie_num {
	margin:0px;
	border:2px solid #99cc33;
	width:82px;
	height:22px;
	background-color:#FFFFFF;
	text-align:right;
}
div.content_div {
	margin:0px;
	clear:both;
}

