<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.co.haw.android.example.shake"
      android:versionCode="1"
      android:versionName="1.0.0">
    <!-- Permissionを定義 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <user-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <provider android:name="jp.co.haw.android.example.shake.ApplicationProvider"
            android:authorities="jp.co.haw.android.provider.application"
        />
        <activity android:name=".ShakeAgent"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    	<activity android:name="ApplicationListActivity"></activity>
        <!-- Serviceを定義 -->
        <service android:name=".ShakeDetector" />
        <receiver android:name=".TriggerOnBoot"
        	android:enabled="true"
        	android:exported="false"
        	android:label="TriggerOnBoot">
        	<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED" />
        	</intent-filter>
        </receiver>
    </application>
</manifest> 